{% extends 'index2.html' %}
{% block content %}
<table>
<table class="table table-bordered table-striped table-condensed">
{% if data %}
<tr>

<th>Name</th>
<th>email</th>
<th>Contact no</th>
<th>Payment Details</th>
<th>Status</th></tr>
{% for v in data %}

<tr>

<td>{{v.name}}</td>
<td>{{v.email}}</td>
<td>{{v.contactno}}</td>
<td>{{v.payment}}</td>
<td>{{v.status}}</td>

<td><a href="{% url 'accept' v.id %}">View</a></td>

{% endfor %}
{% else %}
list is empty
{% endif %}

</table>
{% endblock %}